* {
	margin: 0;
	padding: 0;
}

body {
    background-color: #221f1f;
    color: #f0f0f0;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    text-align: center;
}

.cabezera {
    background-color: #333;
    padding: 20px;
    color: #fff;
    box-shadow: rgb(89, 9, 114) 0px 0px 10px 0px;

}

.menu {
    display: grid;
    grid-auto-flow: column;
    /* Coloca los elementos en fila */
    gap: 2rem;
    /* Espacio entre los ítems */
    list-style: none;
    /* Quitar los puntitos */
    padding: 0;
    margin: 0;
    justify-content: center;
    /* Centrar el menú */
    align-items: center;

}

.navegacion {
    color: #f0f0f0;
    /* color del texto */
    padding: 10px;
    /* espacio alrededor del texto */
    text-decoration: none;
    /* quitar subrayado */
    margin: 20px;
    /* espacio entre los enlaces */
    background-color: rgba(99, 10, 126, 0.479);
    /* color de fondo */
    ;
    border-radius: 15px;
    /* bordes redondeados */
    text-decoration: none;
    /* quitar subrayado */
}

.contenedor_general {
    background-color: rgb(58, 55, 58);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    /* columnas responsivas */
    gap: 20px;
    /* espacio entre los elementos */
    margin-top: 10px;
    /* espacio superior */
    padding: 20px;
    /* espacio interno */
    align-items: center;
    justify-items: center;
}

.img_caricatura{
    width: 100%;
    height: auto;
    max-width: 250px;
    margin-bottom: 20px;
    filter: drop-shadow(0 0 10px rgba(183, 9, 199, 0.5));
    mask-image: linear-gradient(to bottom, black 60%, transparent 100%);
    
}

.contenedor {
    background-color: #221f1f94;
    border-radius: 25px;
    padding: 20px;
    display: grid;
}

.titulo {
    font-size: 2rem;
    margin: 20px;
}

.subtitulo {
    font-size: 1.5rem;
    margin: 10px;
}

.neon_texto {
    color: #c084fc;
    text-shadow:
        0 0 2px #c084fc,
        0 0 4px #c084fc,
        0 0 6px #a855f7,
        0 0 10px #a855f7;
    font-weight: bold;
    animation: parpadeo 2s infinite;
}
@keyframes parpadeo {

    0%,
    100% {
        opacity: 1;
        text-shadow:
            0 0 2px #c084fc,
            0 0 4px #c084fc,
            0 0 6px #a855f7,
            0 0 10px #a855f7;
    }

    50% {
        opacity: 0.9;
        text-shadow:
            0 0 1px #c084fc,
            0 0 2px #a855f7;
    }
}

.descripcion {
    font-size: 1rem;
    margin: 30px;
    color: #fff;
    text-align: left
}

.btn-cv{
    background-color: rgba(107, 51, 180, 0.753);
    width: 120px;
    height: 25px;
    border-radius: 25px;
    border: none;
    box-shadow: #221f1f 0px 10px 15px 0px;
}

.carousel {
	display: flex;
	padding: 20px 0;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	position: relative;
    display: flex;
	justify-content: center;
	align-items: center;
}
.inner {
	width: 780px;
	height: 400px;
	overflow: hidden;
	position: relative;
}
.btn {
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	width: 50px;
	line-height: 100px;
	height: 100px;
	font-size: 30px;
	color: #222;
	user-select: none;
	text-align: center;
	z-index: 100;
	background-color: #222;
	color: #fff;
}
.btn:hover {
	cursor: pointer;
	text-shadow: 0 0 10px #fff;
}
.lbtn {
	left: 70px;
}
.rbtn {
	right: 70px;
}
.card-list {
	transition: 0.4s all;
	transform: translateX(-260px);
	position: absolute;
	display: flex;
	perspective: 1200px;
} 

.card {
	border-radius: 10px;
	background-color: #141212c4;
    color: #c084fc;
	transition: 0.8s all;
	margin: 0 10px;
	width: 240px;
	height: 400px;
	display: grid;
    grid-template-rows: 2fr auto;
    /* Dos filas, la primera ocupa el espacio restante */
    align-items: center;
    justify-items: center;
	user-select: none;
	transform: scale(0.85) rotateY(0deg);
	position: relative;
}

.card-content {
    margin: 50px;
}


.card:hover {
	cursor: pointer;
}
.active {
	box-shadow: 0 0 10px #ffffffbd;
	border: 1px solid #fff;
	background-color: #222;
	color: #c084fc;
	text-shadow: 0 0 10px #c084fc;
	transform: scale(0.95) rotateY(360deg);
}

.logo_tecnologia{
    max-width: 65%;
    max-height: 60%;
    object-fit: contain;
    margin-right: 10px;
    display: block;
    align-items: center;
}

.img_proyecto1{
    width: 100%;
    height: auto;
    max-width: 900px;
    margin: 0px;
    border-radius: 15px;
    display: block;
}

.imagen-con-texto {
    position: relative;
    display: inline-block;
}

.texto-superpuesto {
    position: absolute;
    top: 0;
    left: 0;
    padding: 1rem;
    color: white;
    background: rgba(0, 0, 0, 0.5); /* fondo oscuro semi-transparente */
    width: 100%;
    max-width: 900px;;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: end;
    border-radius: 10px;
    text-align: center;
    font-family: sans-serif;
}

.texto-superpuesto h3 {
    margin-bottom: 5px;
}

.texto-superpuesto p {
    margin:10px;
}

.texto-superpuesto a {
    margin-bottom: 15px;
    color: #c084fc;
    text-decoration: none;
    font-weight: bold;
}