@media (max-width: 770px) {
    .menu {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        /* 2 columnas iguales */
        grid-template-rows: repeat(2, auto);
        /* 2 filas automáticas */
        gap: 25px;
        /* Espacio entre columnas y filas (opcional) */
    }

    .titulo {
        font-size: 1.5rem;
        text-align: center;
    }

    .contenedor {
        padding: 10px;
        border-radius: 10px;
    }

    .tecnologias {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }

    img {
        max-width: 100%;
        height: auto;
    }

    .neon_texto {
        font-size: 1.2rem;
        text-align: center;
    }

    .descripcion {
        font-size: 0.9rem;
        text-align: center;
    }

    .subtitulo {
        font-size: 1.2rem;
        text-align: center;
    }

    /* carrusel*/

    .carrusel{ 
        overflow-x: auto;
        overflow-y: hidden;
    }

    .carta{
        width:  110px;
        height: 250px;
    }

    .img_tecnologia{
        height: 60px;
    }


    /* Posiciones en círculo 3D (7 cartas = 360° / 7 ≈ 51.43°) */
    .carta:nth-child(1) {
        transform: rotateY(0deg) translateZ(200px);
    }

    .carta:nth-child(2) {
        transform: rotateY(51.43deg) translateZ(200px);
    }

    .carta:nth-child(3) {
        transform: rotateY(102.86deg) translateZ(200px);
    }

    .carta:nth-child(4) {
        transform: rotateY(154.29deg) translateZ(200px);
    }

    .carta:nth-child(5) {
        transform: rotateY(205.71deg) translateZ(200px);
    }

    .carta:nth-child(6) {
        transform: rotateY(257.14deg) translateZ(200px);
    }

    .carta:nth-child(7) {
        transform: rotateY(308.57deg) translateZ(200px);
    }





    .img_proyecto1 {
        width: auto;
        height: 400px;
        max-width: 300px;
        margin: 0px;
        border-radius: 15px;
        display: block;
    }

    .texto-superpuesto {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: flex-end;
        font-size: 0.7rem;

    }
}